/* app css stylesheet */

body {
  margin: 1em;
}

#source-editor {
    width: 100%;
    height: 10em;
}

#source-spec, #sandbox, #inner-text, #mappings-list, #search-input, #search-results {
    border: 1px solid #DDD;
    padding: 1em;
    margin: 0.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#search-input {
    align: left;
}

.popover {
    width: 400px;
}

#dtm-demo-article-box {
    width: 100%;
    height: 500px;
}

.diff-shower {
    background: #808080;
    color: #000080;
    font-size: 150%;
}